body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #e44039;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
}

.pokemon-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button, .random-button {
    padding: 10px 20px;
    border: none;
    background-color: #e44039;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover, .random-button:hover {
    background-color: #d2322d;
}

.error-message {
    color: #e44039;
    text-align: center;
    margin-bottom: 20px;
}

.pokemon-details {
    text-align: center;
}

.pokemon-image {
    width: 125px;
    height: 125px;
}

.pokemon-name {
    color: #e44039;
}

.pokemon-info {
    margin-bottom: 10px;
}

.moves-header {
    margin-top: 20px;
}

.moves-list {
    list-style-type: none;
    padding: 0;
}

.move-item {
    margin-bottom: 5px;
}

.moves-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 10px; /* Gap between items */
}

.move-item {
    background-color: #f2f2f2; /* Optional: Add a background color */
    padding: 10px;
    border-radius: 5px; /* Optional: Rounded corners */
    text-align: center; /* Optional: Center text */
}

/* Center the Random button */
.random-button {
    display: block;
    margin: 20px auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .move-item {
        flex-basis: calc(50% - 10px); /* Two columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .move-item {
        flex-basis: 100%; /* One column on even smaller screens */
    }
}
